{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "settings": {
        "react": {
            "version": "17.0.2"
        }
    },
    "rules": {
        "no-extra-parens": 0,
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 0,
        "no-mixed-spaces-and-tabs": [
            "error",
            "smart-tabs"  // Optionally set tabs to be treated as one space
        ]
    }
}
